{% extends 'base.html' %}

{% block npath %}{% endblock %}
{% block ncmd %}{% if articles_page.has_previous() %}dir.exe /page {{ articles_page.number }}{% else %}{{ super() }}{% endif %}{% endblock %}

{% block content %}
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
        {% for article in articles_page.object_list %}
            {# Include's latex math only if an article in the index has it present #}
            {% if article and article.latex and latex is not defined %}
                {% set latex = True %}
                {{ article.latex }}
            {% endif %}
            <section class="post">
                <header class="post-header">
                    <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                    <p class="post-meta">{{ article.summary }}</p>
                {% if HIDE_CATEGORIES %}
                    <p class="post-meta">// under {% for tag in article.tags %}
                        <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        {% endfor %} &middot; {{ article.locale_date }}
                    </p>
                {% else %}
                    <p class="post-meta">
                        in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> &middot; {{ article.locale_date }}
                    </p>
                {% endif %}
                </header>
            </section>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
{% endblock content %}
